@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    font-weight: 700;
}

blockquote {
    padding: 10px;
    text-transform: uppercase;
    background-color: #3c3c3c;
    color: #fff;
    font-weight: 700;
}

a {
    color: #2ea2cc;
}

a:hover {
    color: #32b5e6;
}
