.sb-floater {
  width: calc(33% - 90px);
  float: left;
  background: #fff;
  padding: 30px;
  margin: 30px 30px 0 0;
}
.sb-floater h3 {
  color: #fff;
  padding: 20px;
  width: calc(100% + 20px);
  font-size: 1.5em;
  font-weight: normal;
  margin: -30px 0 15px -30px;
}
.sb-floater tr {
  border-bottom: solid 1px #f1f1f1;
}
.sb-floater tr:hover {
  background: #f9f9f9;
}
.sb-floater span {
	position:relative;
	top:1px;
	font-size:.9em;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	color:#999;
	margin:0 0 0 25px;
}
.sb-floater td {
  border-collapse: collapse;
  margin: 0;
  padding: 15px 0;
}

.sb-floater tr:last-child {
  border: none;
}

.sbcol1 h3 {
  background: #ef4036;
}

.sbcol2 h3 {
  background: #00a5c8;
}

.sbcol3 h3 {
  background: #f99f34;
}

.stormbox-settings {
	position:relative;
}

.admin-message-field {
	padding:15px 0 15px 25px !important;
	border-top:none;
}

.admin-message-field textarea {
	width:95%;
}

.admin-message-field span {
	margin:0;
}