/* Forms
-----------------------------------------------------------------------*/
.gform_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-grey, .95);
    opacity: 0;
    pointer-events: none;
    transition: opacity .35s ease-in-out;
    z-index: 15;
}

.form-open {
    opacity: 1;
    pointer-events: auto;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;

    .gform {
        transform: translate3d(0, 0, 0);
    }
}

.gfield {
    position: relative;
    list-style: none;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;

    @include breakpoint(small) {
        width: 100%;
        display: block;
    }
}

.medium {
    width: 80%;
    padding: 25px 20px;
    border: 0;
    color: rgba($color-grey, .8);
    background-color: #fff;
    box-shadow: 4px 4px 0 rgba(#000, .1);
    outline: 0;
    font-size: 1.6em;
    transition: .3s ease-in-out;

    @include breakpoint(small) {
        width: 100%;
    }

    &:focus {
        box-shadow: 4px 4px 0 rgba(#000, .4);
    }
}

.textarea {
    height: 120px;
}

.gfield_label {
    display: block;
    font-size: 1.6em;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 5px;
    width: 80%;

    @include breakpoint(small) {
        width: 100%;
    }
}

.gfield_checkbox {
    li {
        list-style: none;
        font-size: 1.3em;
        margin-bottom: 12px;

        @include breakpoint(desktop) {
            display: inline-block;
            width: (100%/2);
        }
    }

    // Custom checkbox styling
    label {
        &:before {
            position: relative;
            top: -1px;
            display: inline-block;
            vertical-align: middle;
            content: '';
            width: 20px;
            height: 20px;
            margin-right: 8px;
            border: 1px solid #fff;
            transition: .3s ease-in-out;
            background-position: center;
            background-size: 12px;
            background-repeat: no-repeat;
        }
    }

    input {
        display: none;

        &:checked + label:before {
            background-image: url('images/svg/tick.svg');
            background-color: $color-grey;
        }
    }
}

.gform_button {
    //color: #fff;
    //background: url('images/svg/tag-end-black.svg') no-repeat left, linear-gradient(to right, transparent 38px, $color-grey 0);
}

.form-contact {
    position: relative;
    max-width: $width-container;
    padding: $spacing-standard;
    margin: -20px auto;
    filter: drop-shadow(10px 10px 0 rgba(#000, .2));

    @include breakpoint(small) {
        padding: $spacing-standard / 2.5;
        background-color: lighten($color-grey, 20%);
    }

    &:before {
        content: '';
        background: lighten($color-grey, 20%) url('images/stamp-cambodia.png') no-repeat 80% 105%;
        background-size: 250px;
        @include slope(left);

        @include breakpoint(small) {
            display: none;
        }
    }
}

.close-form {
    background-color: $color-grey;
    width: 50px;
    padding: 6px 0 7px;
    font-size: 2.5em;
    border-radius: 100%;
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 40px;
    right: 20px;

    @include breakpoint(small) {
        position: relative;
        top: 0;
        left: 45%;
        padding: 5px 15px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

.gform_validation_container {
    display: none;
}

.validation_message {
    position: absolute;
    bottom: -20px;
    background-color: lighten($color-orange, 10%);
    padding: 0;
    width: 80%;
    left: 0;
    font-size: 1.4em;
    color: #fff;
    text-align: center;

    @include breakpoint(small) {
        width: 100%;
        left: 0;
        text-align: center;
    }
}

.validation_error {
    position: absolute;
    bottom: -80px;
    left: 0;
    width: 100%;
    background-color: lighten($color-orange, 10%);
    font-size: 1.8em;
    padding: 30px;
    color: #fff;
    text-align: center;

    @include breakpoint(desktop) {
        transform: rotate(-2deg) skewX(-2deg);
    }

    @include breakpoint(small) {
        font-size: 1.2em;
    }
}

.gform_ajax_spinner {
    position: relative;
    top: 20px;
    width: 40px;
    height: 40px;
    margin-left: 20px;
}
