/* Mixins - This file contains all the mixins used in this project
-----------------------------------------------------------------------*/

// Breakpoints
@mixin breakpoint($point) {
    @if $point == extra-wide {
        @media (min-width: 2000px) { @content; }
    } @else if $point == desktop {
        @media (min-width: 1120px) { @content; }
    } @else if $point == small {
        @media (max-width: 650px)  { @content; }
    } @else if $point == smaller {
        @media (max-width: 350px)  { @content; }
    }
}

// Clearfix
@mixin clear {
    &::before,
    &::after {
        display: table;
        content: '';
    }

    &::after {
        clear: both;
    }
}

// Hide Text - An alternate to text-indent
@mixin hide-text {
    color: transparent;
    text-shadow: none;
    font: 0/0 a;
}

/*
@mixin slope($side, $color) {
    margin-bottom: 59px;

    &::before,
    &::after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;

        @if $side == left {
            border-right: 100vw solid transparent;
        }

        @if $side == right {
            border-left: 100vw solid transparent;
        }
    }

    &::before {
        top: -60px;
        border-bottom: 60px solid $color;
    }

    &::after {
        bottom: -60px;
        border-top: 60px solid $color;
    }
}
*/

/*
@mixin slope($side, $color) {
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color;
        backface-visibility: hidden;
        z-index: -1;

        @if $side == left {
            transform: skewY(-2deg);
        }

        @if $side == right {
            transform: skewY(2deg);
        }
    }
}
*/

@mixin slope($side) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    z-index: -1;


    @if $side == left {
        transform: skewY(-2deg);
    }

    @if $side == right {
        transform: skewY(2deg);
    }
}

@mixin abs-content {
    position: absolute;
    top: 0;
    left: 0;
}
