/* Typography - This file contains the base typographic styles
-----------------------------------------------------------------------*/
body {
    font-family: $font-base;
    font-size: 62.5%;
    line-height: 1.5;
    font-weight: 400;
    color: #fff;
    //-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3, {
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: .08em .08em 0 rgba(#000, .4);
    letter-spacing: .1em;
    line-height: 1.3;
}

h1 {
    font-size: 4em;

    @include breakpoint(desktop) {
        font-size: 6em;
    }

    @include breakpoint(small) {
        font-size: 2em;
    }

    @include breakpoint(smaller) {
        font-size: 1.5em;
    }
}

h2 {
    font-size: 3em;
    margin-bottom: 20px;

    @include breakpoint(desktop) {
        font-size: 3.8em;
        margin-bottom: 40px;
    }

    @include breakpoint(small) {
        font-size: 2em;
    }

    @include breakpoint(smaller) {
        font-size: 1.5em;
    }
}

h3 {
    font-size: 1.8em;
    margin-bottom: 15px;

    @include breakpoint(desktop) {
        font-size: 2.5em;
    }
}

p {
    font-size: 1.6em;
    margin: 0 0 20px;

    @include breakpoint(desktop) {
        margin: 0 0 30px;
    }

    @include breakpoint(smaller) {
        font-size: 1.5em;
    }
}

strong {
    font-weight: 700;
}

blockquote {
    background-color: $color-grey;
    padding: 25px;
    text-align: center;
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg) skewX(-2deg); //Seems to make blurry text render a little better on Chrome
    box-shadow: 10px 10px 0 rgba(#000, .4);
    letter-spacing: .1em;
    margin-bottom: 60px;

    p {
        font-size: 1.5em;
        margin: 0;
        font-style: italic;
        text-transform: uppercase;
        font-weight: 700;

        @include breakpoint(desktop) {
            font-size: 1.7em;
        }
    }
}
