/* Variables - This file contains all the variables used in this project
-----------------------------------------------------------------------*/

// Colours
$color-orange:        #cb4e28;
$color-red:           #bc2b3b;
$color-blue:          #21a2ad;
$color-grey:          #3c3c3c;
$color-l-brown:       #dcd2ba;
$color-d-brown:       #795836;
$color-cream:         #f2f1e7;

// Fonts
$font-base:           'Montserrat', sans-serif;

// Layout
$spacing-standard:    80px;
$offset:              200px;
$width-container:     1120px;

// Transitions
