/*!
Theme Name: Tag Wealth
Theme URI: http://stormbox.com.au
Version: 1.6.2
Author: Michael Ott
Contributor: Leigh Kendell
Author URI: http://stormbox.com.au
Description: Barebones theme for Stormbox websites
License: Proprietary
License URI: http://stormbox.com.au
*/

/* Imports
-----------------------------------------------------------------------*/
// Reset
@import 'reset';

// Variables
@import 'variables';

// Mixins
@import 'mixins';

// Typography
@import 'typography';

/* Global
-----------------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin-top: $offset/2;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* Helper Classes
-----------------------------------------------------------------------*/
.alignleft {
    float: left;
    margin: 0 15px 15px 0;
}

.alignright {
    float: right;
    margin: 0 0 15px 15px;
}

.clear {
    clear: both;
}

.post-edit-link {
    position: fixed;
    z-index: 999999 !important;
    top: 20px;
    right: 20px;
    display: block;
    width: 10px;
    height: 10px;
    padding: 10px;
    text-indent: -9999em;
    background: #ebebeb url('images/system/edit.png') no-repeat 7px 6px;
}

.post-edit-link:hover {
    background: #fff url('images/system/edit.png') no-repeat 7px 6px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.rotated {
    transform: rotate(-2deg);
}

.padded {
    padding: $spacing-standard/2.5;

    @include breakpoint(desktop) {
        padding: $spacing-standard;
    }
}

.button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background: $color-l-brown;
    background: url('images/svg/tag-end.svg') no-repeat left, linear-gradient(to right, transparent 38px, $color-l-brown 0);
    vertical-align: middle;
    font-size: 2em;
    color: $color-d-brown;
    padding: 24px 50px 24px 70px;
    filter: drop-shadow(5px 4px 0 rgba(#000, .4));
    margin-top: 5px;
    border: 0;
    outline: 0;
    cursor: pointer;

    @include breakpoint(small) {
        font-size: 1.6em;
    }

    &:before {
        display: inline-block;
        content: '';
        width: 38px;
        height: 80px;
        vertical-align: middle;
        margin-right: 50px;
        background: url('images/svg/tag-end.svg');
        display: none;
    }
}

// Forms
@import 'forms';

/* Container
-----------------------------------------------------------------------*/
.container {
    position: relative;
    max-width: $width-container;
    margin: 0 auto;
    z-index: 7;
}

.container-right {
    @include breakpoint(desktop) {
        left: 40%;
        width: 60%;
        margin: 0;
        max-width: 720px;
    }
}

.container-left {
    @include breakpoint(desktop) {
        left: calc(50% - 560px);
        width: 60%;
        margin: 0;
        max-width: 720px;
    }
}


/* Primary Navigation
-----------------------------------------------------------------------*/
.primary-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(#000, .75);
    transform: translate3d(0, 0, 0);
    transition: background-color .4s ease-in-out;
    z-index: 20;
}

.scrolled .primary-navigation {
    background-color: darken($color-grey, 10%);
}

.menu {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;

    a {
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: .1em;
        font-size: 1.3em;
        padding: 20px;
        cursor: pointer;

        @include breakpoint(desktop) {
            font-size: 1.5em;
            padding: 25px;
        }

        @media (max-width: 800px) {
            font-size: 1em;
            padding: 25px 10px;
        }
    }
}

.menu-item {
    display: inline-block;
}

@include breakpoint(small) {
    .scrollable {
        display: none;
    }
}

.menu-enquire,
.menu-phone {
    a {
        &:before {
            display: inline-block;
            vertical-align: middle;
            content: '';
            width: 35px;
            height: 50px;
            background-color: red;
            margin-right: 15px;

            @include breakpoint(small) {
                width: 25px;
                height: 25px;
            }
        }

        @include breakpoint(small) {
            padding: 20px;
        }
    }
}

.menu-enquire a {
    &:before {
        background: url('images/svg/icon-mail.svg') no-repeat center;
        width: 50px;

        @include breakpoint(small) {
            width: 25px;
        }
    }
}

.menu-phone a {
    &:before {
        background: url('images/svg/icon-phone.svg') no-repeat center;
    }
}


/* Header
-----------------------------------------------------------------------*/
.header {
    position: relative;
    top: -$offset;
    padding-top: $offset;
    margin-bottom: -$offset;
    z-index: 10;

    .container {
        &:before {
            position: absolute;
            top: -170px;
            width: 175px;
            height: 450px;
            background: url('images/logo-twi.png') no-repeat;
            background-size: 100%;
            content: '';
            transform: rotate(-2deg);
            z-index: -1;

            @include breakpoint(desktop) {
                top: -180px;
                left: -30px;
                width: 240px;
                height: 618px;
                background: url('images/logo-twi.png') no-repeat;
                background-size: 100%;
            }

            @include breakpoint(small) {
                top: 0;
                left: -30px;
                width: 200px;
                height: 62px;
                background: url('images/logo-twi-long.png') no-repeat;
                background-size: 100%;
            }
        }

        @include breakpoint(small) {
            padding-top: 70px;
        }
    }

    h1 {
        position: relative;
        padding: 10px 0 10px 220px;

        @include breakpoint(desktop) {
            padding: 10px 0 10px 180px;
        }

        @include breakpoint(small) {
            padding: 0;
        }
    }

    .bg {
        background-color: $color-orange;
        @include slope(left);

        &:after {
            @include abs-content;
            content: '';
            width: 100%;
            height: 100%;
            background: url('images/svg/couple.svg') no-repeat bottom right;

            @include breakpoint(small) {
                background-size: 450px;
            }

            @include breakpoint(desktop) {
                background-size: 940px 785px;
            }
        }
    }
}


/* Content Blocks
-----------------------------------------------------------------------*/
.content-block {
    position: relative;
    top: -$offset;
    padding-top: $offset + 30px;
    padding-bottom: 30px;
    margin-bottom: -$offset;

    @include breakpoint(small) {
        padding: $offset 0 0;
    }
}

.services-wrap {
    margin-bottom: 30px;

    @include breakpoint(desktop) {
        &.scrolled {
            height: 150px;
        }
    }
}

.services {
    margin-bottom: 20px;

    li {
        display: inline-block;
        text-align: center;
        margin: 0 10px 14px 0;

        @include breakpoint(small) {
            width: 100%;
            display: block;
        }
    }

    a {
        display: block;
        padding: 10px 20px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.1em;
        color: #fff;
        background-color: $color-grey;
        box-shadow: 3px 3px 0 rgba(#000, .4);
    }

    &.scrolled {
        @media (min-width: 1250px) {
            position: fixed;
            top: 150px;
            left: $spacing-standard;
            width: 10%;
            transform: translate3d(0, 0, 0);

            li {
                width: 100%;
            }

            a {
                font-size: 1em;
                padding: 5px 10px;
            }
        }

        @media (max-width: 1500px) {
            left: 0;
        }
    }
}

.row {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    margin-bottom: 30px;

    @include breakpoint(small) {
        width: 100%;
        margin-bottom: 0;
    }

    &:first-of-type {
        margin-top: 30px;

        @include breakpoint(small) {
            margin-top: 0;
        }

        &:before {
            display: none;
        }
    }

    &:before {
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: darken($color-blue, 5%);
        border-radius: 100%;
        margin-bottom: 60px;

        @include breakpoint(small) {
            margin-bottom: 30px;
        }
    }
}

.thumb {
    img {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 20%;
        height: auto;
        border-radius: 100%;
        box-shadow: 6px 6px 0 rgba(#000, .4);
        margin: 10px 0 0 5%;

        @include breakpoint(small) {
            width: 50%;
            max-width: 200px;
            margin: 0 auto;
            display: block;
            margin-bottom: 30px;
        }
    }
}

// About
.content-block-01 {
    z-index: 9;
    padding-top: 20px; 

    &:after {
        @include breakpoint(desktop) {
            position: absolute;
            top: 50%;
            right: calc(50% - 1000px);
            content: '';
            width: 445px;
            height: 353px;
            background: url('images/stamp-cambodia.png');
            background-size: 100%;
            z-index: -1;
            display: none;
        }
    }

    .bg {
        background-color: $color-blue;
        @include slope(right);
        top: 0;
        overflow: hidden;

        @include breakpoint(desktop) {
            &:before {
                position: absolute;
                top: 50%;
                right: calc(50% - 1000px);
                content: '';
                width: 445px;
                height: 353px;
                background: url('images/stamp-cambodia.png');
                background-size: 100%;
                z-index: -1;
            }

            &:after {
                @include abs-content;
                top: 0;
                content: '';
                width: 40%; 
                height: 101%;
                background: url('images/svg/planes.svg') no-repeat top right;
                background-size: cover;
            }
        }
    }
}

// Advantage
.content-block-02 {
    z-index: 8;

    .bg {
        background-color: $color-orange;
        @include slope(left);
        top: -1px;
        overflow: hidden;

        &:after {
            @include breakpoint(desktop) {
                @include abs-content;
                left: auto;
                right: 0;
                content: '';
                width: 40%;
                height: 101%;
                background: url('images/svg/car.svg') no-repeat center;
                background-size: cover;
                //filter: saturate(40%);
            }
        }
    }
}

// Advice
.content-block-03 {
    z-index: 7;

    &:after {
        @include breakpoint(desktop) {
            position: absolute;
            bottom: -150px;
            left: calc(50% - 1000px);
            content: '';
            width: 418px;
            height: 343px;
            background: url('images/stamp-vietnam.png');
            background-size: 100%;
            z-index: -1;
        }
    }

    .bg {
        background: url('images/bg-texture.png');
        @include slope(right);
        top: -1px;
    }
}

// Services
.content-block-04 {
    z-index: 6;

    .bg {
        background-color: $color-blue;
        @include slope(left);
        top: -1px;
    }
}


// Team
.content-block-05 {
    z-index: 5;
    margin-bottom: -$offset * 2;

    h2 {
        color: $color-grey;
    }

    p {
        color: rgba($color-grey, .8);
    }

    .bg {
        background-color: $color-cream;
        @include slope(right);
        top: -1px;
    }
}

// Team Profile Cards
.card {
    display: inline-block;
    position: relative;
    width: calc(50% - 42px);
    padding: 30px;
    margin-top: 50px;
    background: url('images/bg-card.jpg');
    background-size: cover;
    box-shadow: 8px 8px 0 rgba(#000, .4);
    font-family: Courier, monospace;
    text-transform: uppercase;
    text-align: center;

    @include breakpoint(desktop) {
        padding-left: 210px;
        text-align: left;
    }

    @include breakpoint(small) {
        width: 100%;
        text-align: center;
        display: block;
    }

    &:first-of-type {
        margin-right: $spacing-standard;
    }

    p {
        margin-bottom: 5px;

        @include breakpoint(small) {
            margin-bottom: 0;
        }
    }

    a {
        color: currentColor;
        text-decoration: none;
    }

    .button-more {
        display: inline-block;
        padding: 10px 20px;
        font-size: 1.6em;
        color: #fff;
        background-color: $color-grey;

        @include breakpoint(desktop) {
            margin-top: 40px;
        }

        @include breakpoint(small) {
            width: 100%;
            text-align: center;
            margin-top: 10px;
        }
    }

    img {
        width: 150px;
        height: auto;
        opacity: .8;
        filter: sepia(40%);

        @include breakpoint(desktop) {
            position: absolute;
            left: 20px;
            top: 20px;
            width: 180px;
        }

        @include breakpoint(small) {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
}

.information-section {
    position: relative;
    margin-top: $spacing-standard;
    background-color: darken($color-cream, 5%);
    padding: $spacing-standard / 2;
    max-width: $width-container;
    min-height: 480px;
    z-index: 100;
    overflow: hidden;
    display: none;

    @include breakpoint(small) {
        margin-top: 50px;
    }

    &.visible {
        display: block;
    }

    .left {
        margin-bottom: 30px;

        @include breakpoint(desktop) {
            position: absolute;
            left: $spacing-standard / 2;
            width: 180px;

            p {
                padding-left: 0;
            }
        }
    }

    img {
        position: absolute;
        top: 0;
        left: -20px;
        width: 220px;
        height: auto;
        opacity: .8;
        filter: sepia(40%);
    }

    .image-wrap {
        position: relative;
        top: 5px;
        background-color: $color-cream;
        width: 180px;
        height: 220px;
        overflow: hidden;
        margin-bottom: 35px;
    }

    h3 {
        color: $color-grey;
    }

    p {
        margin: 10px 0 15px;

        @include breakpoint(desktop) {
            padding-left: 210px;
        }
    }

    .button {
        color: #fff;
        padding: 11px 20px 11px 40px;
        font-size: 1.4em;
        background: $color-grey;
        background: url('images/svg/tag-end-black.svg') no-repeat left, linear-gradient(to right, transparent 24px, $color-grey 0);
        background-size: 25px, 100%;
    }
}

/* Footer
-----------------------------------------------------------------------*/
.footer {
    position: relative;
    padding-top: $offset + 30px;
    padding-bottom: 25px;
    margin-bottom: -$offset;
    background-color: $color-grey;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: url('images/stamp-plane.png') no-repeat center;
        background-size: 160px;

        @media (max-width: 960px) {
            background: none;
        }
    }
    .address {
        p {
            margin: 0;
            opacity: .8;
            font-size: 1.35em;
            &.small {
                font-size: 1.2em;
            }
        }
        @include breakpoint(small) {
            max-width: calc(100% - 115px);
        }
    }
}

.site-by-stormbox {
    display: block;
    background: url('images/svg/logo-stormbox.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    @include hide-text;
    width: 100px;
    height: 40px;
    filter: saturate(80%) opacity(80%);
    transition: .3s ease-in-out;
    margin-top: 12px;

    &:hover {
        filter: saturate(100%) opacity(100%);
    }
}

/* CTA
-----------------------------------------------------------------------*/

.main-cta {
    position: fixed;
    padding: 15px;
    bottom: 0;
    width: 275px;
    background-color: #f2f1e7;
    text-align: center;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.4);
    z-index: 100;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #f26739;
    @include breakpoint(desktop) {
        right: 50px;
        left: unset;
        top: 100px;
        bottom: auto;
        padding: 30px;
        width: 330px;
        border: none;
    }
}

.main-cta button {
    font-size: 1.6em;
    font-weight: 700;
    padding: 10px 20px;
    background: #f26739;
    border-radius: 35px;
    border: none;
    @include breakpoint(desktop) {
        padding: 20px 30px;
    }
}

.main-cta h2 {
    font-size: 1.8em;
    color: #f26739;
    margin-bottom: 10px;
    text-shadow: none;
    @include breakpoint(desktop) {
        font-size: 2em;
        margin-bottom: 20px;
    }
}

.main-cta p {
    font-size: 1.6em;
        font-weight: 700;
        margin-bottom: 10px;
        color: rgba(0, 0, 0, 0.75);
}

.main-cta a {
    color: #fff;
}

/* News
-----------------------------------------------------------------------*/

.news-intro h1 {
    font-size: 3.4em;
    color: #3c3c3c;
    margin: 0 0 40px 7px;
    @include breakpoint(desktop) {
        font-size: 5em;
    }
}

.news-container {
    margin: 50px 20px;
    z-index: 100;
    padding-bottom: 200px;
    @include breakpoint(desktop) {
        margin: 125px auto 80px;
        padding-bottom: 250px;
    }
}

.blog-bg {
    background-color: #ffffff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
    -webkit-transform: skewY(2deg);
    -ms-transform: skewY(2deg);
    transform: skewY(2deg);
    top: 1345px;
    @include breakpoint(desktop) {
        top: 472px;
    }
}

.news-intro ul {
    display: flex;
    flex-direction: column;
    @include breakpoint(desktop) {
        flex-direction: row;
    }
}

.news-intro ul li {
    list-style: none;
    margin: 10px;
    padding: 20px;
    width: calc(100% - 20px);
    background: #f1f1f1;
    font-size: 1.4em;
        @include breakpoint(desktop) {
        width: calc(33.3333% - 25px);
    }
}

.news-intro li img {
    width: 100%;
    height: auto;
}

.news-intro ul li strong {
    display: block;
    color: #f26739;
    font-size: 1.6em;
}

.news-intro ul li .button-link {
    font-size: 1em;
    margin: 10px 0 0 0;
    display: block;
    font-weight: bold;
}

.news-intro ul li a {
    color: #000;
    font-weight: normal;
    text-decoration: none;
}

/* Individual News Page
-----------------------------------------------------------------------*/

.inner-news-container {
    margin: 50px 20px;
    z-index: 2;
        @include breakpoint(desktop) {
        margin: 125px auto 80px;
    }
}

.entry-header{
    color: #3c3c3c;
    margin: 0 0 40px 7px;
}

.entry-content p {
    color: rgba(60, 60, 60, 0.8);
}

.inner-blog-bg {
    background-color: #ffffff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
    -webkit-transform: skewY(2deg);
    -ms-transform: skewY(2deg);
    transform: skewY(2deg);
    top: 520px;
    @include breakpoint(desktop) {
        top: 240px;
    }
}
